
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
	font-family: 'Fira Sans', sans-serif;
  }

  .navbar {
    padding: 1rem;
    background-color: #92C7CF;
  }
  
  .nav-item {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
   
  .logo {
    font-size: 2rem;
    vertical-align:middle;
  }


  .heading {
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
  }

  
  #mission {
    padding-top: 3rem;
	padding-bottom: 3rem;
    margin-bottom: 2rem;
    background-color: #AAD7D9;
  }
  

  #something {
    background-color: #FBF9F1;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* padding: 4rem; */
  }

  #help {
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* padding: 4rem; */
  }
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 1rem;
    }
  }